body{
	font-size: 105%;
	margin: 1%;
}

header{
	background-image: url('flywheel.jpg');
	background-repeat: no-repeat;
	background-size: 100%;
	text-align: center;
	padding: 4%;
	color: #ffffff;
}

h1{
	position: relative;
	top: -30px;
	font-size: 250%;
}

nav{
	text-align: center;
	font-size: 140%;
	font-family: 'Times New Roman bold';
}

nav a{
	text-decoration: none;
	color: #000000;
	position: relative;
	margin-top: 10px;
	margin-right: 8%;
	margin-left: 8%;
	background-color: rgba(255,255,255,0.6);
	display: inline-block;
	border-radius: 5px;
	padding: 10px;
}

nav a:hover{
	color: #000000;
	background-color: #ffffff;
	border-radius: 12px;
}

.active{
	background-color: #767575;
	color: #ffffff;
	border: solid #000000 2px;
}

.left{
	float: left;
	background: #777613;
	width: 22%;
	padding: 1% 0;
	
}

.left img{
	border: solid #000000 3px;
	width: 60%;
	height: 60%;
	margin-right: 10%;
	margin-left: 10%;
	margin-top: 6%;
	margin-bottom: 6%; 
}

.right{
	width: 75%;
	display: inline-block;
	padding-left: 1%;
}

h2{
	font-size: 200%;
	font-weight: bold;
}

p{
	font-size: 120%;
}

.right a{
	font-size: 120%;
}

table{
	table-layout: auto;
	position: relative;
	border: 2px solid #000000;
	opacity: 0.8;
	font-size: 100%;
	width: 50%;
	border-collapse: collapse;
	left: 10%;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;	
}

table td, table th{
	border: 2px solid #FFFFFF;
	padding-top: 10px;
	padding-bottom: 10px;
	box-sizing: border-box;
}

table tr th{
	background-color: #239B56;
	border-radius: 5px 5px 0px 0px;
}

table tr td{
	text-align: center;
	background-color: #D5F5E3;	
}

table tr th{
	text-align: center;
	color: #ffffff;
}

table tr td:first-child{
	text-align: left;
	padding-left: 10px;
}

table tr td:first-child{
	text-align: left;
	padding-left: 10px;
}

table tr td:hover{
	background-color: #CB4335;
	color: #ffffff;
}

table tr td:active{
	border-radius: 15px;
}
