/*This is the CSS file to Project_1*/

body{
	background-color: #7EC3B0;
	font-size: 125%;
}

header{
	background-color: #E27D60;
	text-align: center;
	font-family: "Ananda";
	
}

h1{
	font-size: 300%;
	color: #ffffff;
}

nav{
	font-size: 150%;
	font-family: "Montserrat Medium";	
}

h2{
	color: #ffffff;
	background-color: #c38d9e;
}

summary{
	font-style: normal;
}

details{
	font-style: italic;
}

footer{
	background-color: #E8A87C;
}
