header{
	text-align: center;
	background-color: #FA8072;
}

h1{
	font-size: 300%;
	color: white;
}

a{
	font-size: 20px;
	display: inline-block;
	font-weight: normal;
	color: white;
	background: #581845;
	padding: 5px;
	width: 170px;
	text-align: center;
	text-decoration: none;
	margin: 0 auto;
	
	margin-left: 245px;
}

a:hover{
	color: black;
	background-color: #CECECE;
}

a:focus{
	color: white;
	background-color: #004F58;
}

a:active{
	border: 2px solid black;
	color: white;
	background-color: #004F58;
}